#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Rich_text_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Image_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Line_109 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Rich_text_205 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Line_110 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Rich_text_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_561 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_562 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_563 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Label_564 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-019596e7-0e05-4d15-a95d-0a04a5525741 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}