#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Label_535 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Rich_text_183 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Rich_text_184 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0f4a962b-610c-461b-a077-16cd43dc821e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}