#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 134px;
  height: 44px;
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-361ef7dc-4e97-42f7-a9d0-60efb9c86802 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}