#s-509de9e9-1394-4c21-8242-00365cb8baad #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-509de9e9-1394-4c21-8242-00365cb8baad #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-509de9e9-1394-4c21-8242-00365cb8baad #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-509de9e9-1394-4c21-8242-00365cb8baad #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-509de9e9-1394-4c21-8242-00365cb8baad #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-509de9e9-1394-4c21-8242-00365cb8baad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}