#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_19 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_20 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_51 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_51 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_21 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_52 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_52 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_22 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_53 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_53 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}