#s-59fda856-db52-46f5-95f8-b3ed4909cfaf > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Label_89 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Wawati SC,Arial;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Wawati SC,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Wawati SC,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Button_1 {
  position: absolute;
  top: 27px;
  left: 11px;
  width: 79px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-email-detail-header {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 375px;
  height: 84px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 84px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 span#rtr-s-Rich_text_78_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 span#rtr-s-Rich_text_78_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 span#rtr-s-Rich_text_78_2 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 span#rtr-s-Rich_text_78_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_18 {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 55px;
  height: 55px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_49 {
  position: absolute;
  top: 83px;
  left: 13px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-email-detail-header_1 {
  position: absolute;
  top: 147px;
  left: 0px;
  width: 375px;
  height: 84px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 84px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 span#rtr-s-Rich_text_79_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 span#rtr-s-Rich_text_79_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 span#rtr-s-Rich_text_79_2 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 span#rtr-s-Rich_text_79_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_19 {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 55px;
  height: 55px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_50 {
  position: absolute;
  top: 83px;
  left: 13px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-email-detail-header_2 {
  position: absolute;
  top: 232px;
  left: 0px;
  width: 375px;
  height: 84px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 84px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 span#rtr-s-Rich_text_80_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 span#rtr-s-Rich_text_80_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 span#rtr-s-Rich_text_80_2 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 span#rtr-s-Rich_text_80_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_20 {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 55px;
  height: 55px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_51 {
  position: absolute;
  top: 83px;
  left: 13px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-email-detail-header_3 {
  position: absolute;
  top: 316px;
  left: 0px;
  width: 375px;
  height: 84px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 84px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 span#rtr-s-Rich_text_81_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 span#rtr-s-Rich_text_81_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 span#rtr-s-Rich_text_81_2 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 span#rtr-s-Rich_text_81_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_21 {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 55px;
  height: 55px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_52 {
  position: absolute;
  top: 83px;
  left: 13px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-email-detail-header_4 {
  position: absolute;
  top: 400px;
  left: 0px;
  width: 375px;
  height: 84px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 84px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 span#rtr-s-Rich_text_82_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 span#rtr-s-Rich_text_82_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 span#rtr-s-Rich_text_82_2 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 span#rtr-s-Rich_text_82_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_22 {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 55px;
  height: 55px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_53 {
  position: absolute;
  top: 83px;
  left: 13px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}