#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_19 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_51 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_52 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Rich_text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Image_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf #s-Line_53 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-59fda856-db52-46f5-95f8-b3ed4909cfaf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}