#s-6c8de07c-bf4f-4655-bfb6-9f821a4fb4d4 #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-6c8de07c-bf4f-4655-bfb6-9f821a4fb4d4 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6c8de07c-bf4f-4655-bfb6-9f821a4fb4d4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6c8de07c-bf4f-4655-bfb6-9f821a4fb4d4 #s-Rich_text_234 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6c8de07c-bf4f-4655-bfb6-9f821a4fb4d4 #s-Label_681 {
  -ms-transform: rotate(0.0deg);
}
#s-6c8de07c-bf4f-4655-bfb6-9f821a4fb4d4 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  width: 268px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6c8de07c-bf4f-4655-bfb6-9f821a4fb4d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}