#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Playlists--screen {
  border-collapse: separate;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_534 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_center > .valign {
  vertical-align: top;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_78 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_90 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_91 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_92 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_80 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_184 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_530 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_185 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_531 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_186 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_532 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_187 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_536 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_188 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_533 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_525 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_527 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_529 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}