#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Playlists--screen {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 375px;
  height: 651px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_top .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_top .verticalalign {
  vertical-align: middle;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_top {
  width: 375px;
  height: 64px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_89 {
  position: absolute;
  top: 27px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.999999pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.999999pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.999999pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_534 {
  position: absolute;
  top: 25px;
  left: 316px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_534 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_534 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_534 span#rtr-s-Label_534_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_25 {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 365px;
  height: 22px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_425 {
  position: absolute;
  top: 6px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_425 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_425 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_425 span#rtr-s-Label_425_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_434 {
  position: absolute;
  top: 7px;
  left: 295px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_434 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_434 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_434 span#rtr-s-Label_434_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_39 {
  position: absolute;
  top: 3px;
  left: 145px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_39 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_37 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 34px;
  height: 6px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_69 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_69 .content {
  width: 6px;
  height: 6px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_69 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_69 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_69 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_69 span#rtr-s-Ellipse_69_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_70 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_70 .content {
  width: 6px;
  height: 6px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_70 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_70 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_70 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_70 span#rtr-s-Ellipse_70_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_71 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_71 .content {
  width: 6px;
  height: 6px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_71 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_71 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_71 span#rtr-s-Ellipse_71_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_72 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_72 .content {
  width: 6px;
  height: 6px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Ellipse_72 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_72 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_72 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #shapewrapper-s-Ellipse_72 span#rtr-s-Ellipse_72_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_451 {
  position: absolute;
  top: 0px;
  left: 338px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_451 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_451 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_451 span#rtr-s-Label_451_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_74 {
  position: absolute;
  top: 3px;
  left: 298px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_74 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_74 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_74 span#rtr-s-Label_74_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Text_2 {
  position: absolute;
  top: 46px;
  left: 301px;
  width: 54px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Text_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_center .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_center .verticalalign {
  vertical-align: top;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_center {
  width: 375px;
  height: 512px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Title {
  width: 375px;
  height: 44px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 25px;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_34 span#rtr-s-Rich_text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_78 {
  position: absolute;
  top: 15px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_78 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_78 span {
  color: #FC3768;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_78 span#rtr-s-Label_78_0 {
  color: #FC3768;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Covers {
  width: 374px;
  height: 146px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_4 {
  position: absolute;
  top: 0px;
  left: 241px;
  width: 133px;
  height: 146px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 123px;
  height: 123px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_90 {
  position: absolute;
  top: 124px;
  left: 0px;
  width: 123px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.5pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_90 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_90 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.5pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_90 span#rtr-s-Label_90_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.5pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_5 {
  position: absolute;
  top: 0px;
  left: 125px;
  width: 123px;
  height: 145px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_91 {
  position: absolute;
  top: 123px;
  left: 0px;
  width: 123px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.5pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_91 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_91 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.5pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_91 span#rtr-s-Label_91_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.5pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 123px;
  height: 145px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_92 {
  position: absolute;
  top: 123px;
  left: 0px;
  width: 123px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.5pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_92 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_92 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.5pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_92 span#rtr-s-Label_92_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.5pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Separators {
  width: 375px;
  height: 80px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_7 {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 375px;
  height: 40px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_79 {
  position: absolute;
  top: 12px;
  left: 328px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_79 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_79 span {
  color: #FC3768;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_79 span#rtr-s-Label_79_0 {
  color: #FC3768;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_80 {
  position: absolute;
  top: 12px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_80 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_80 span {
  color: #FC3768;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_80 span#rtr-s-Label_80_0 {
  color: #FC3768;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_214 {
  width: 375px;
  height: 75px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_213 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 75px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_184 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 85px;
  width: 290px;
  height: 74px;
  background-color: #FCFCFC;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_184 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_184 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_184 span#rtr-s-Rich_text_184_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_30 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_530 {
  position: absolute;
  top: 26px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_530 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_530 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_530 span#rtr-s-Label_530_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_216 {
  width: 375px;
  height: 75px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_215 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 75px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_185 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 85px;
  width: 290px;
  height: 74px;
  background-color: #FCFCFC;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_185 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_185 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_185 span#rtr-s-Rich_text_185_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_31 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_531 {
  position: absolute;
  top: 26px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_531 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_531 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_531 span#rtr-s-Label_531_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_218 {
  width: 375px;
  height: 75px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_217 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 75px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_186 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 85px;
  width: 290px;
  height: 74px;
  background-color: #FCFCFC;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_186 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_186 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_186 span#rtr-s-Rich_text_186_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_32 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_532 {
  position: absolute;
  top: 26px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_532 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_532 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_532 span#rtr-s-Label_532_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_220 {
  width: 375px;
  height: 74px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_219 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 74px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_187 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 85px;
  width: 290px;
  height: 74px;
  background-color: #FCFCFC;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_187 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_187 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_187 span#rtr-s-Rich_text_187_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_33 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_536 {
  position: absolute;
  top: 26px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_536 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_536 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_536 span#rtr-s-Label_536_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_222 {
  width: 375px;
  height: 75px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Group_221 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 75px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_188 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 85px;
  width: 290px;
  height: 74px;
  background-color: #FCFCFC;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_188 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_188 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Rich_text_188 span#rtr-s-Rich_text_188_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_34 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_533 {
  position: absolute;
  top: 26px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_533 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_533 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_533 span#rtr-s-Label_533_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_bottom .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_bottom .verticalalign {
  vertical-align: middle;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Cell_bottom {
  width: 375px;
  height: 75px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_525 {
  position: absolute;
  top: 57px;
  left: 282px;
  width: 60px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_525 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_525 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_525 span#rtr-s-Label_525_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_527 {
  position: absolute;
  top: 51px;
  left: 28px;
  width: 60px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_527 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_527 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_527 span#rtr-s-Label_527_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_529 {
  position: absolute;
  top: 54px;
  left: 155px;
  width: 60px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_529 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_529 span {
  color: #FC3768;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Label_529 span#rtr-s-Label_529_0 {
  color: #FC3768;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_12 > svg {
  width: 28px;
  height: 28px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_12 {
  position: absolute;
  top: 25px;
  left: 299px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_8 > svg {
  width: 28px;
  height: 28px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_8 {
  position: absolute;
  top: 24px;
  left: 169px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_13 > svg {
  width: 28px;
  height: 28px;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 #s-Image_13 {
  position: absolute;
  top: 24px;
  left: 44px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-705f1e9e-9aa4-4f04-b61e-426d2a245555 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}