#s-a27fe1dd-00fb-45bb-8a0d-c4144af1ded2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a27fe1dd-00fb-45bb-8a0d-c4144af1ded2 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a27fe1dd-00fb-45bb-8a0d-c4144af1ded2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a27fe1dd-00fb-45bb-8a0d-c4144af1ded2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a27fe1dd-00fb-45bb-8a0d-c4144af1ded2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a27fe1dd-00fb-45bb-8a0d-c4144af1ded2 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a27fe1dd-00fb-45bb-8a0d-c4144af1ded2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a27fe1dd-00fb-45bb-8a0d-c4144af1ded2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}