#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Label_89 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Wawati SC,Arial;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Wawati SC,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Wawati SC,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Label_89 span#rtr-s-Label_89_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Wawati SC,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_1 {
  position: absolute;
  top: 27px;
  left: 11px;
  width: 79px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Image_1 {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 376px;
  height: 602px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Input_1 {
  position: absolute;
  top: 183px;
  left: 31px;
  padding-left: 22px;
  width: 286px;
  height: 265px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 14px 14px 14px 14px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  box-shadow: none;
  text-shadow: none;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Text_1 {
  position: absolute;
  top: 105px;
  left: 23px;
  width: 206px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Wawati SC,Arial;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Wawati SC,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Wawati SC,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_2 {
  position: absolute;
  top: 533px;
  left: 66px;
  width: 245px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}