#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bea257d5-f73c-4e18-b67d-8da11d3d9fe8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}