#s-d07f870b-d7cf-4259-9429-052ff1baf710 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d07f870b-d7cf-4259-9429-052ff1baf710 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d07f870b-d7cf-4259-9429-052ff1baf710 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d07f870b-d7cf-4259-9429-052ff1baf710 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d07f870b-d7cf-4259-9429-052ff1baf710 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d07f870b-d7cf-4259-9429-052ff1baf710 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}